body {
  text-align: center;
  background-color: linen;
        font-family: sans-serif;

}
input[type=button],button{
  width: 25%;
  background-color: #3399ff;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  size: 50%;
}

button[type=submit]{
  padding: 5px  ;
  margin-top: 2%;
}
#delete{
  width:15%;
}
#addyearbtn {
  margin-bottom: 1%;
}
#healthform {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  align-items: center;
}
#healthformsubmit {
  margin-top: 5%;
}
#fillform {
  display: none;
}
